$spoke-width: 2rem;
$bone-color: #657086;
$bone-thickness: 0.3rem;
$blue: #264ae5;
$skew: 20deg;
$cell-radius: 18px;

.fishbone-container {
    width: 100%;
    display: inline-grid;
    grid-template-rows: auto $bone-thickness auto;
    column-gap: 2rem;
    margin-bottom: 3rem;
    padding-left: 7rem;

    .cause {
        display: flex;

        &.top {
            flex-direction: column;
            .subcause {
                transform: skew($skew);
                transform-origin: bottom;
                .stat {
                    transform: skewX(-$skew);
                }
            }
        }
        &.bottom {
            flex-direction: column-reverse;
            .subcause {
                transform: skew(-$skew);
                transform-origin: top;
                .stat {
                    transform: skewX($skew);
                }
            }
        }

        &.cause-col-1 {
            .stat {
                // width: 11em;
            }
        }
    }

    .rootcause {
        text-align: center;
        color: #fff;
        border-radius: $cell-radius;
        margin-left: $spoke-width;
        margin-right: $spoke-width;
        &:not(.btn) {
            padding: 0.6em 1em;
        }
        &.blue {
            background-color: $blue;
        }
    }

    .subcause {
        flex-grow: 1;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-right: $bone-thickness solid $bone-color;
        padding-bottom: 1rem;
        padding-top: 1rem;
        margin-left: $spoke-width;
    }

    .stat {
        text-align: right;
        padding: 0.25rem $spoke-width 0.25rem 0;
        position: relative;

        &.btn {
            border: none;
            background-color: transparent;
            white-space: normal;
            &:focus,
            &:focus-within,
            &:focus-visible {
                outline: solid 1px #ced0d3;
            }
        }

        &:before {
            content: "";
            display: block;
            background-color: $bone-color;
            position: absolute;
            width: $spoke-width;
            height: $bone-thickness;
            right: 0;
            top: 50%;
            transform: translate(0.2rem, -50%);
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
        }
    }

    .line {
        grid-row: 2;
        background-color: $bone-color;
    }

    .effect {
        grid-row: 2;
    }

    .effect-text {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        background-color: $bone-color;
        color: #fff;
        border-radius: $cell-radius;
        &:not(.btn) {
            padding: 1rem;
        }
    }
}
